<div class="comment">
	<h3>Comments</h3><hr>
		<% @comments.each do |comment| %>
		    <ul>
			    <li>
				    <h4><%= comment.content %></h4>
				    <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
				    <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete %>
				 </li>
		    </ul>
		    <hr>
		<% end %>
</div>