<% @comments.each do |comment| %>
    <h2><%= comment.content %></h2>
    <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
    <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete %>
<% end %>