// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
	border: 2px solid black;
	margin: 5px;
	padding: 5px;
}

img {
   float: left;
	max-height: 200px;
	border: 1px solid black;
	border-radius: 3px;
}